export(agglda)
export(checkOrder)
export(checkart)
export(comb)
export(equaldist)
export(extractout)
export(getclass)
export(harcv)
export(img2landmark)
export(kfcv)
export(kfcv2)
export(loadimg)
export(mrkfcv)
export(mrkfcv2)
export(orderOutline)
export(otopred)
export(otosearch)
export(otosearch2)
export(otosearch3)
export(pccv)
export(plotallo)
export(plotpca)
export(rGPA)
export(rNEF)
export(readcurvi)
export(reland)
export(routine1)
export(routine2)
export(runmacro)
export(saveproj)
export(selectdim)
export(sprdist)
export(threcv)
export(updateproj)
importFrom(EBImage,bwlabel)
importFrom(EBImage,computeFeatures.shape)
importFrom(EBImage,numberOfFrames)
importFrom(EBImage,ocontour)
importFrom(EBImage,resize)
importFrom(EBImage,rmObjects)
importFrom(MASS,lda)
importFrom(Morpho,bindArr)
importFrom(Morpho,kendalldist)
importFrom(Morpho,procSym)
importFrom(Morpho,relaxLM)
importFrom(Morpho,rotonto)
importFrom(geomorph,readland.tps)
importFrom(geomorph,writeland.tps)
importFrom(jpeg,readJPEG)
importFrom(mixOmics,plsda)
importFrom(png,readPNG)
importFrom(tiff,readTIFF)
importFrom(tree,tree)
