export(checkOrder)
export(checkart)
export(comb)
export(equaldist)
export(harcv)
export(kfcv)
export(kfcv2)
export(mrkfcv)
export(mrkfcv2)
export(orderOutline)
export(otopred)
export(otosearch)
export(pccv)
export(plotallo)
export(plotpca)
export(rGPA)
export(rNEF)
export(readcurvi)
export(reland)
export(routine1)
export(routine2)
export(saveproj)
export(selectdim)
export(sprdist)
export(threcv)
importFrom(MASS,lda)
importFrom(Morpho,kendalldist)
importFrom(Morpho,procSym)
importFrom(Morpho,rotonto)
importFrom(geomorph,writeland.tps)
importFrom(mixOmics,plsda)
importFrom(secr,flip)
importFrom(tree,tree)
